.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.box {
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-input-item {
    border: none;
    border-bottom: 1px solid #d1d5db;
}

.text-input-item:focus {
    border-bottom: 1px solid #6366f1;
}

.text-input-item input {
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
}
