@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@300&display=swap');

* {
  font-family: 'Indie Flower', cursive;
  font-family: 'Kalam', cursive;
}

.theme-bg {
  background-color: #f7fafc;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.mt-0 {
  margin-top: 0;
}

.mt-3 {
  margin-top: 0.75rem;
}

.btn {
  padding: 10px 20px;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 20px;
}

.btn-primary {
  background-color: #6366f1;
}

.theme-size {
  font-family: 'Indie Flower', cursive !important;
  font-family: 'Kalam', cursive !important;
  font-size: 20px !important;
}
