@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@300&display=swap');

* {
  font-family: 'Indie Flower', cursive;
  font-family: 'Kalam', cursive;
}

.theme-bg {
  background-color: #f7fafc;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.mt-0 {
  margin-top: 0;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.w-100 {
  width: 100%; 
}

.text-center {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 20px;
}

.btn-primary {
  background-color: #6366f1;
}

.btn-transparent {
  background-color: transparent;
  color: #6366f1;
  border: none;
  cursor: pointer;
}

.theme-size {
  font-family: 'Indie Flower', cursive !important;
  font-family: 'Kalam', cursive !important;
  font-size: 20px !important;
}
